@page
@model StarWarsApp.Pages.Vehicles.IndexModel
@{
    ViewData["Title"] = "Star Wars Vehicles";
}
<div class="container">
    <h2 class="text-center">@ViewData["Title"] <i class="fas fa-space-shuttle"></i></h2>
    <div class="row d-flex justify-content-center">
        @foreach (var vehicle in Model.Vehicles)
        {
            <div class="card col-md-3 bg-dark m-3 mb-3 shadow p-2 mb-5 bg-white rounded" style="width: 18rem;">
                <img class="card-img-top" src=@vehicle.Image alt="Card image cap" style="height:350px;">
                <div class="card-body bg-dark text-center">
                   <p style="color:white">@vehicle.Name</p>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{ 
    <script>
        $(".row").hide(500).slideDown(1000);
    </script>
}
