@page
@model StarWarsApp.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "Star Wars Movies";
}
<div class="container">
    <h2 class="text-center">@ViewData["Title"] <i class="fas fa-film ml-1"></i></h2>
    <div class="row d-flex justify-content-center">
        @foreach (var movie in Model.Movies)
        {
            <div class="card col-md-3 bg-dark m-3 mb-3 shadow p-2 mb-5 bg-white rounded" style="width: 18rem;">
                <img class="card-img-top" src=@movie.Image alt="Card image cap" style="height:350px">
                <div class="card-body bg-dark text-center" style="display:flex">
                    <a class="btn btn-outline-success" asp-page="/Movies/Details" asp-route-id="@movie.Id">Details <i class="fas fa-journal-whills m-2"></i></a>
                    <a class="btn btn-outline-primary" asp-page="/Movies/Characters" asp-route-id="@movie.Id">Characters <i class="fas fa-people-carry m-2"></i></a>
                </div>
            </div>

        }
    </div>
</div>
@section scripts{ 
    <script>
        $(".row").hide(500).slideDown(1000);
    </script>
}
